<div>
    <h1>
        <%= @topic.title %> <br>
    </h1>
</div>

<div>
    <% @topic.bookmarks.each do |bookmark| %>
        <div class="row">
            <div style="vertical-align: middle" class="col-md-8 url">
                <%= link_to bookmark.url, bookmark.url %>
            </div>
            <div class="col-md-4 edit-remove">
                <%= link_to "Edit", edit_topic_bookmark_path(@topic, bookmark), class: 'btn btn-success' %>
                <%= link_to "Remove Bookmark", [@topic, bookmark], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this bookmark?'} %>
            </div>
        </div>
        <%= render "layouts/modal" %>
    <% end %>
</div>
<div class="bottom">
    <br/>
    <%= link_to "Add Bookmark", new_topic_bookmark_path(@topic.id), class: 'btn btn-success' %>
    
    <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this topic?'} %>
</div>
